body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  background: #fffaf1;
  color: #001029;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero {
  background: url('https://i.ibb.co/m5vZvz1d/Epicenter-compressed.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: relative;
  padding: 2rem;
  text-align: center;
  color: #fff;
  width: 100%;
}

.logo {
  max-width: 390px;
  margin: 0 auto -7.4rem;
}



.buttons .btn {
  display: inline-block;
  margin: 0 0.5rem;
  background: #b7c9f6;
  color: #001029;
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
  font-weight: bold;
}

.socials {
  position: absolute;
  top: 20px;
  right: 24px;
  display: flex;
  gap: 1.4rem;
}

.socials i {
  font-size: 2.7rem;
  color: white
}

section {
  padding: 4rem 2rem;
  text-align: center;
}

.music h2,
.bio h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.songs {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.song {
  background: #fefefe;
  padding: 1rem;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  cursor: pointer;
}

.song img {
  width: 100%;
  border-radius: 8px;
}

.song h3 {
  margin: 1rem 0 0.5rem;
  font-size: 1.1rem;
}

.btn.small {
  font-size: 0.9rem;
  padding: 0.4rem 0.8rem;
}

.bio p {
  max-width: 700px;
  margin: 1rem auto;
  line-height: 1.6;
}

footer {
  background: #001029;
  color: white;
  padding: 2rem;
  text-align: center;
}

footer i {
  margin: 0 0.5rem;
  font-size: 1.3rem;
}

.socials2 {
  gap: 1rem;
}

.socials2 i {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;

}

footer p {
  margin: 0.5rem 0;
}
